# KUC, PGR107
# HW5

## There are three tasks and should be finished and submitted through groups.
## Each group is suggested to have 1-5 members.
## In the submission, please include your implementation (executable code) as .ipynb document.
## List your group name and group member information in the top (written in comments).

### HW5.1 Create dataframes in various ways using Pandas objects. Please use 4 ways which are List, numpy, Series and Dictionary.

In [1]:
import pandas as pd

In [13]:
# List
Months = ['January','February','March','April','May','June','July',
        'August','September','October','November','December']
Days = [31,28,31,30,31,30,31,31,30,31,30,31]
print(type(Months),type(Days))

df_Months = pd.DataFrame(Months,columns=['Months'],index=[1,2,3,4,5,6,7,8,9,10,11,12])
print(df_Months)
print(type(df_Months))

<class 'list'> <class 'list'>
       Months
1     January
2    February
3       March
4       April
5         May
6        June
7        July
8      August
9   September
10    October
11   November
12   December
<class 'pandas.core.frame.DataFrame'>

In [15]:
#numpy
import numpy as np
Months = np.array(['January','February','March','April','May','June','July',
        'August','September','October','November','December'])
Days = np.array([31,28,31,30,31,30,31,31,30,31,30,31])
print(type(Months),type(Days))

Days_Months = pd.DataFrame({'Months':Months,'Days':Days,},index=[1,2,3,4,5,6,7,8,9,10,11,12])
print(Days_Months)
print(type(Days_Months))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>
       Months  Days
1     January    31
2    February    28
3       March    31
4       April    30
5         May    31
6        June    30
7        July    31
8      August    31
9   September    30
10    October    31
11   November    30
12   December    31
<class 'pandas.core.frame.DataFrame'>

In [18]:
# Series
Months = ('January','February','March','April','May','June','July',
        'August','September','October','November','December')
Days = (31,28,31,30,31,30,31,31,30,31,30,31)
s_Months = pd.Series(Months)
s_Days = pd.Series(Days)
print(type(s_Months),type(s_Days))

Days_Months = pd.DataFrame({'Months':Months,'Days':Days,},index=[1,2,3,4,5,6,7,8,9,10,11,12])
print(Days_Months)
print(type(Days_Months))

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>
       Months  Days
1     January    31
2    February    28
3       March    31
4       April    30
5         May    31
6        June    30
7        July    31
8      August    31
9   September    30
10    October    31
11   November    30
12   December    31
<class 'pandas.core.frame.DataFrame'>

In [17]:
# Dict
Months = {'Months':['January','February','March','April','May',
                    'June','July','August','September','October','November','December'],
          'Days':[31,28,31,30,31,30,31,31,30,31,30,31]}
print(type(Months))

df_Months = pd.DataFrame(Months,index=[1,2,3,4,5,6,7,8,9,10,11,12])
print(df_Months)
print(type(df_Months))

<class 'dict'>
       Months  Days
1     January    31
2    February    28
3       March    31
4       April    30
5         May    31
6        June    30
7        July    31
8      August    31
9   September    30
10    October    31
11   November    30
12   December    31
<class 'pandas.core.frame.DataFrame'>

### HW5.2 There is follwing dataframe. Multiply each element in column 123 by 10. (Please use iloc and loc both not just one to practice.)

In [31]:
import pandas as pd

data_abc = ['a', 'b', 'c', 'd', 'e']
data_123 = [1, 2, 3, 4, 5]

data_index = ['row0', 'row1', 'row2', 'row3', 'row4']
data = pd.DataFrame({'abc': data_abc, '123':data_123}, index=data_index)
data['multiplied'] = data.loc[:,'123']*10

print(data)

     abc  123  multiplied
row0   a    1          10
row1   b    2          20
row2   c    3          30
row3   d    4          40
row4   e    5          50

In [33]:
data['multiplied'] = data.iloc[:,1]*10
print(data)

     abc  123  multiplied
row0   a    1          10
row1   b    2          20
row2   c    3          30
row3   d    4          40
row4   e    5          50

### HW5.3 There is follwing numpy.ndarray which is arr. Please find the square root of arr using Universal Function and assign it to the variable arr2. Then change arr2 to pandas. If there are nan values in pandas, remove them.

In [45]:
import numpy as np
import pandas as pd


arr = np.array([1,-2,3,-4,5,-6])
print('array:\n',arr)

array:
 [ 1 -2  3 -4  5 -6]

In [46]:

arr2 = np.sqrt(arr)
print('new array:\n',arr2)

new array:
 [1.                nan 1.73205081        nan 2.23606798        nan]

C:\Users\joann\AppData\Local\Temp\ipykernel_7636\3039171379.py:1: RuntimeWarning: invalid value encountered in sqrt
  arr2 = np.sqrt(arr)

In [48]:
pd_arr2= pd.DataFrame(arr2)
print(pd_arr2)

          0
0  1.000000
1       NaN
2  1.732051
3       NaN
4  2.236068
5       NaN

In [51]:
pd_arr2.dropna()

          0
0  1.000000
2  1.732051
4  2.236068